@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
  counter-reset: ol-counter;
}

.no-padding-left{
  padding-left: 0;
}

.no-padding-right{
  padding-right: 0;
}

.no-padding-left-right{
  padding-right: 0;
  padding-left: 0;
}

.no-margin-bottom{
  margin-bottom: 0;
}

.green-button{
  background-color: #60d522;
  color: white;
  text-transform: uppercase;
  background-image: none;
  border-color: #60d522;
  text-shadow: none;
  box-shadow: none;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.green-button:hover, .green-button:active:hover, .green-button:hover:active, .green-button:focus{
  background-color: #3c8910;
  color: white;
  border-color: #60d522;

  outline: 1px solid #60d522;
  outline-offset: 5px;
}

.white-button{
  background-color: #6c757d;
  border-color: #6c757d;
}

.white-button:hover, .white-button:active:hover, .white-button:hover:active, .white-button:focus{
  background-color: #1d2124;
  border-color: #1d2124;

  outline: 1px solid #1d2124;
  outline-offset: 5px;
}

.custom-form-control{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;

  box-shadow: none !important;
  font-size: 11px !important;

  font-family: 'Roboto', sans-serif;
}

.home-headings{
  font-family: Fertigo Pro, sans-serif;
}

.home-headings-blue{
  color: #0078D7;
}

.general-row{
  margin-top: 40px;
}

.down-arrow{
  background-color: #60D522;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding-top: 6px;
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


.down-arrow-wrapper{
  position: relative;
  margin-bottom: 20px;
}

.select-form-group .ng-control{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.error-message{
  position: absolute;
}

@media (min-width: 768px){
  .modal-dialog {
    width: 800px;
}
}



/*navbar start*/

.navbar-blue-top{
  background-color: #0078d7;
  color: white;
  height: 60px;
  padding-top: 8px;
}

.navbar-blue-top a{
  color: white;
}

.navbar-blue-top a:hover, .navbar-blue-top a:active, .navbar-blue-top a:hover:active, .navbar-blue-top a:active:hover,
.navbar-blue-top a:focus{
  color: #FFE500;
}

.navbar-container{
  position: relative;
}

.custom-navbar{

  z-index: 9998;
  position: fixed;
  top: 35px;
  width: 1169px;

  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);

  background-image: none;
  background-color: white;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

}

.affix {
  top: 0;
  /*width: 100%;*/
  z-index: 9998 !important;
}

.custom-navbar .navbar-nav>li>a{
  color: #0078d7;
  border-bottom: 2px solid white;
}

@media (min-width: 768px) {
  .custom-navbar .navbar-nav>li>a:hover, .custom-navbar .navbar-nav>li>a:hover:active, .custom-navbar .navbar-nav>li>a:active,
  .custom-navbar .navbar-nav>li>a:active:hover, .custom-navbar .navbar-nav>li>a:focus{
    color: #0078d7;
    border-bottom: 2px solid #ffe500;
    padding-bottom: 0;
    background-color: white;
    background-image: none;

    -webkit-transition: border-bottom-color 1s;
    -moz-transition: border-bottom-color 1s;
    -ms-transition: border-bottom-color 1s;
    -o-transition: border-bottom-color 1s;
    transition: border-bottom-color 1s;

  }

  .custom-navbar .navbar-nav>li>a:hover{
    border-bottom-color: #ffe500;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .custom-navbar .navbar-nav>li>a{
    padding-left: 5px;
    padding-right: 5px;
  }

  .custom-navbar{
    width: 750px;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .custom-navbar .navbar-nav>li>a{
    padding-left: 24px;
    padding-right: 25px;
  }

  .custom-navbar{
    width: 970px;
  }
}

@media (max-width: 768px){
  .custom-navbar{
    width: 100%;
  }
}

.custom-navbar .navbar-nav>.active>a, .custom-navbar .navbar-nav>.active>a:focus, .custom-navbar .navbar-nav>.active>a:hover,
.custom-navbar .navbar-nav > .active > a, .custom-navbar .navbar-nav > .active > a:hover, .custom-navbar .navbar-nav > .active > a:focus{
  background-color: white;
  background-image: none;
  color: #0078d7;
}

.custom-navbar .navbar-nav>.active>a{
  background-image: none;
  background-color: white;
  box-shadow: none;
}

.custom-navbar .navbar-brand{
  padding: 8px 40px;
}

@media (min-width: 1200px) {
  .custom-navbar .navbar-nav li a{
    padding: 15px 34px;
  }

  .custom-navbar .navbar-nav>.active>a{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .openBtn a{
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
}

.home-logo img{
  padding-top: 2px;
}

@media (min-width: 768px) and (max-width: 992px){
  .custom-navbar .navbar-nav>.active>a{

    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (min-width: 768px){
  .home-logo{
    float: left;
  }
}

/*navbar end*/

/*search start*/

.openBtn{
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/*search end*/

/*home starts*/

.home-slider-image{
  height: 670px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-filter: brightness(80%); /* Safari 6.0 - 9.0 */
  filter: brightness(80%);
}

.home-slider .slick-prev, .home-slider .slick-next{
  display: none !important;
}

.home-slider-row{
  position: relative;
}

.home-slider-row p:nth-child(1){
  color: white;
  font-family: Fertigo Pro, sans-serif;
  position: absolute;
  /*font-size: calc(20px + 7vw);*/
  font-size: 100px;
  z-index: 1;
  border: 5px solid white;
  padding: 5px 40px;

  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%)
}

.home-slider-row p:nth-child(2){
  color: white;
  position: absolute;
  z-index: 9997;

  left: 50%;
  top: 58%;
  -webkit-transform: translate(-50%, -42%);
  transform: translate(-50%, -42%)
}


@media (max-width: 576px) {
  .home-slider-row p:nth-child(1){
    font-size: 50px;
  }

  .home-slider-row p:nth-child(2){
    top: 53%;
    -webkit-transform: translate(-50%, -47%);
    transform: translate(-50%, -47%)
  }
}

.home-slider .slick-dots{
  z-index: 9997;
}

.home-slider .slick-dots li button:before{
  font-size: 30px;
  color: white;
  opacity: 1;
  left: 315px;
  top: -150px;

  content: "\f068";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.home-slider .slick-dots li.slick-active button:before{
  color: #0078D7;
  opacity: 1;
}

.home-slider{
  margin-bottom: 0 !important;
}

.form-container{
  position: relative;
}

.form-container .nav-tabs>li>a{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  background-color: white;
  border: 3px solid white;
}

.form-container .nav-tabs>li.active>a, .form-container .nav-tabs>li a:hover{
  background-color: #0078d7;
  color: white;
  border: 3px solid #0078d7;
}

.form-container .tab-content{
  background-color: #FFE500;
  padding: 30px;
  border: 1px solid #FFE500;
  height: 223px;
}

.slider-form .nav-tabs{
  border-bottom: none;
}

.slider-form ul li:nth-child(2){
  margin-left: -2px;
}


.slider-enquire{
  /*width: 100%;*/
  position: absolute;
  bottom: -135px;
  right: 0;
}

.slider-form{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -160px;
  width: 100%;
}

.why-sis-row{
  margin-top: 120px;
}

.why-sis-container{
  background-color: #F5F5F5;
  padding-bottom: 30px;
}

.service-images{
  height: calc(20px + 5vw);
  width: calc(20px + 5vw);
  display: inline-block;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.service-image-wrapper{
  display: inline-block;
  background-color: white;
  padding: 3vw;
  margin: 40px 2vw 15px 2vw;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.service-block{
  display: inline-block;
}

.service-block p{
  color: white;
  margin-bottom: 30px;
}

.service-image-set-wrapper{
  background-color: #0078D7;
  margin-top: 20px;
}

.home-packages-images{
  height: 500px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-packages-images:hover .package-text-wrapper{
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeOut
}

.home-packages-images:hover::before{
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  height: 500px;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.home-packages-images:hover .package-button button{
  display: block;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
.home-packages-images .package-text-wrapper{
  right: 15px;
  left: 15px;
}

.home-packages{
  position: relative;
  margin-bottom: 30px;
}

.day-label{
  position: absolute;
  right: 30px;
  top: -10px;
  background-color: #FFE500;
  color: white;
  z-index: 1;
  line-height: 30px;
  width: 85px;
  height: 85px;
}

.day-label p:nth-child(1){
  font-size: 40px;
  margin-bottom: 0;
  padding-top: 15px;
}

.day-label p:nth-child(2){
  font-size: 24px;
}

.home-packages-images-small, .home-packages-images-small:hover::before{
  height: 246px;
}

.home-package-container .panel-heading{
  background-color: #0078D7;
  color: white;
  background-image: none;
  border: 2px solid #0078D7;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.home-package-container .panel-default{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.home-package-container .panel-body{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 191px;
  overflow: auto;
  background-color: #f5f5f5;
}

.home-packages .home-packages-images-first:hover::before{
  background-color: rgba(0, 0, 0, 0);
}

.home-packages-images-first:hover .package-text-wrapper{
  animation-name: none;
}

.custom-package-text-wrapper p{
  color: white;
  font-size: 32px;
  font-weight: 600;
  padding-top: 75px;
}

.testimonial-box{
  border: 1px solid #0078D7;
  margin: 10px 30px;
  padding: 20px;
}

.testimonial-box:active, .testimonial-box:focus, .testimonial-box:hover, .testimonial-box:hover:active, .testimonial-box:active:hover{
  outline: none;
}

.testimonial-box i{
  color: #FFE500;
  margin-bottom: 25px;
}

.pro-pic{
  height: 80px;
  width: 80px;
  display: inline-block;
  margin:10px 15px 10px 30px;
  float: left;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pro-pic-description{
  display: inline-block;
  float: left;
  padding-top: 34px;
}

.pro-pic-description p{
  margin-bottom: 0;
}

.testimonial .slick-prev{
  left: 0;
  z-index: 9999;
}

.testimonial .slick-next{
  right: 0;
  z-index: 9999;
}

.testimonial .slick-prev:before{
  color: #353535;

  content: "\f053";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.testimonial .slick-next:before{
  color: #353535;

  content: "\f054";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.home-form-button button{
  margin-right: -46px;
  margin-top: 17px;
}

@media(min-width: 1200px){
  .form-container{
    width: 850px;
  }
}

@media (max-width: 768px) {
  .slider-enquire{
    bottom: -315.5px;
  }

  .why-sis-row{
    margin-top: 430px;
  }

  .home-slider .slick-dots li button:before{
    left: 0;
    top: -200px;
  }
}

@media (max-width: 620px) {
  .service-block{
    display: block;
  }

  .service-block p{
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .form-container .tab-content{
    height: 517px;
  }
}

/*home ends*/

/*package details starts*/

.slider-image{
  height: 500px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.package-details-slider .slick-arrow{
  display: none !important;
}

.package-details-slider .slick-dots{
  bottom: 0;
}

.package-details-slider{
  margin-bottom: 0 !important;
}

.package-details-slider .slick-dots li button:before{
  font-size: 15px;
}

.quick-section i{
  color: #f44336;
  padding: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.package-details-upper-row{
  background-color: #f5f5f5;
}

.quick-section .heading{
  margin-bottom: 35px;
}

.quick-section .heading .green-button{
  padding: 15px 50px;
  margin-top: 15px;
}

.package-details-tab-section ul{
  background-color: #0078d7;
}

.package-details-tab-section ul li{
  width: 33%;
  text-align: center;
}

.package-details-tab-section ul li a{
  color: white;
  cursor: pointer;
  padding: 20px;

  -webkit-transition: border-bottom 0.25s;
  -moz-transition: border-bottom 0.25s;
  -ms-transition: border-bottom 0.25s;
  -o-transition: border-bottom 0.25s;
  transition: border-bottom 0.25s;
}

.package-details-tab-section ul li a:hover, .package-details-tab-section ul li a:active, .package-details-tab-section ul li a:hover:active,
.package-details-tab-section ul li a:active:hover, .package-details-tab-section ul li a:focus, .package-details-tab-section .nav-tabs > li.active > a, .package-details-tab-section .nav-tabs > li.active > a:hover,
.package-details-tab-section .nav-tabs>li.active>a, .package-details-tab-section .nav-tabs>li.active>a:hover{
  background-color: transparent;
  border-color: #0078d7;
  border-bottom: 3px solid #ffe500;
  color: white;
}

.day-button-wrapper button{
  background-color: transparent;
  background-image: none;
  color: #5c5e62;
  border: 1px solid #f8f8f8;
  padding: 25px;
  width: 100%;
  margin-top: 20px;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.day-button-wrapper button:hover, .day-button-wrapper button:hover:active, .day-button-wrapper button:active, .day-button-wrapper button:active:hover,
.day-button-wrapper button:focus{
  background-color: transparent;
  color: #ffe500;
  border: 1px solid #f8f8f8;
  outline: none;
}

.day-button-wrapper button::after{
  border: 2px solid #e2e2e2;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  content: '';
  left: 16px;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 16px;

}

.day-button-wrapper button::before{
  left: 29px;
  top: 24px;
  position: absolute;
  content: counter(ol-counter);
  counter-increment: ol-counter;
}

.day-button-wrapper:nth-child(n+10) button::before{
  left: 26px;
}

.day-button-wrapper button{
  position: relative;
  text-align: left;
  padding-left: 70px;
}

.day-button-wrapper button span:nth-child(2){
  display: none;
}

.day-button-wrapper button i{
  position: absolute;
  right: 5px;
  top: 4px;
  color: #e2e2e2;

  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.day-button-wrapper button:hover i, .day-button-wrapper button:hover:active i, .day-button-wrapper button:active:hover i
.day-button-wrapper button:active i, .day-button-wrapper button:focus i{
  color: #ffe500;
}

.day-button-collapse .well{
  background-color: white;
  background-image: none;
  border: 1px solid #f8f8f8;
  padding-left: 40px;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

}

.day-button-collapse ul li{
  margin-top: 5px;
}

.day-button-collapse ul{
  margin-bottom: 5px;
}

.day-button-collapse ul li span{
  padding-right: 10px;
}

.package-images{
  height: 100px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.package-text-wrapper{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.package-main{
  background-color: #0078D7;
}

.package-main h2{
  margin-top: 10px;
}

.package-text-wrapper p{
  margin-bottom: 0;
}

.package-images:hover::before{
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  height: 100px;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.package-images:hover .package-text-wrapper{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.package-button button{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: none;
}

.package-images:hover .package-button button{
  display: block;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.activity-box, .inclusion-box{
  background-color: transparent;
  background-image: none;
  color: #5c5e62;
  border: 1px solid #f8f8f8;
  padding: 25px;
  margin-top: 20px;
  border-radius: 0;
}

.activity-box span, .inclusion-box span{
  padding-right: 10px;
}

.activity-box ul li, .inclusion-box ul li{
  margin-top: 5px;
}

.package-row{
  margin-bottom: 15px;
}

.arrows i:nth-of-type(2){
  display: none;
}

#cityModal img{
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.coverage{
  background-color: #ffe500;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 15px;
  color: black;
  text-transform: uppercase;
}



@media (max-width: 992px) {
  .package-slider-div{
    padding-right: 0;
  }
}

/*package details ends*/

/*footer starts*/

.up-strip{
  background-color: black;
  padding: 30px;
}

.up-strip a{
  color: white;
  text-decoration: none;
}

.footer-links a:hover, .footer-links a:active, .footer-links a:hover:active, .footer-links a:active:hover, .footer-links a:focus{
  color: #FFE500;
}

.footer-social-icons>div{
  cursor: pointer;
}

.footer-social-icons>div:hover a, .footer-social-icons>div:hover:active a, .footer-social-icons>div:active:hover a, .footer-social-icons>div:active a
,.footer-social-icons>div:focus a{
  color: #FFE500;
}

.footer-social-icons a{
  padding-top: 20px;
}

.footer-social-icons>div{
  width: 40px;
  height: 40px;
  display: inline-block;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background-color: #0078D7;
  line-height: 41px;

}

.bottom-strip{
  background-color: #FFE500;
  padding: 15px;
  font-size: 12px;
}

.bottom-strip p{
  margin-bottom: 0;
}

.bottom-strip span{
  margin: 10px;
}

.footer-social-icons{
  padding: 10px;
}

.footer-links{
  padding: 10px;
}

/*footer ends*/

/*sri lanka starts*/

.lanka-banner{
  height: 300px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lanka-banner h1{
  font-family: Fertigo Pro, sans-serif;
  color: white;
  font-size: 80px;
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.lanka-banner>p{
  color: white;
  font-size: 15px;
  letter-spacing: 10px;
}

.lanka-image{
  height: 300px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

}

.lanka-block{
  margin-top: 20px;
  margin-bottom: 20px;
}

.lanka-block:hover .lanka-image{

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);

}

.lanka-block:hover .lanka-image-container{
  height: 300px;
}

.lanka-description{
  padding-left: 30px;
}

.lanka-block .green-button, .lanka-description .full-text{
  display: none;
}

.full-text table tr td:nth-child(2){
  padding-left: 5px;
}

.lanka-banner .print-button{
  text-align: right;
  margin-top: 50px;
  margin-right: 20px;
}

.print-button p{
  color: white;
}

/*sri lanka ends*/

/*about us starts*/

.about-us-banner{
  height: 300px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.about-us-banner-text h2{
  color: white;
  font-family: Fertigo Pro, sans-serif;
}

.about-us-banner-text p{
  color: white;
}

.about-us-row{
  position: relative;
}

.about-us-banner-text{
  position: absolute;
  top: 50px;
  left: 30px;
  right: 30px;
}

.about-us-middle{
  background-color: #282828;
  color: white;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-top: 20px;
}

.mission-div{
  margin-top: 20px;
  padding: 0 15px;
}

.vision-div{
  margin-top: 20px;
}

@media (min-width: 992px) {
  .mission-div{
    border-right: 1px solid #d2d2d2;
  }

  .about-us-middle .col-md-2:nth-child(n+1):nth-child(-n+4){
    border-right: 1px solid white;
  }
}

@media (max-width: 768px) {
  .about-us-banner{
    height: 400px;
  }
}

/*about us ends*/

/*contact us start*/

.contact-us-row{
  /*background-color: #aadaff;*/
  margin-top: -30px;
}

.contact-us-row iframe{
  /*margin-top: 29px;*/

  margin-top: 59px;
}

.contact-us-middle{
  margin-top: 15px;
}

/*contact us end*/

.wait-modal{
  z-index : 20001!important;
  text-align: center!important;
}

/*alert starts*/

.my-alert{
  position: fixed;
  top: 0;
  z-index: 11000;
  text-align: center;
  padding: 16px;
  width: 500px;

  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width:768px) {
  .my-alert{
    width: 100%;
  }
}

/*alert ends*/

/*modal star*/

#homeModal, #packageModal, #packageUpperModal, #morePackageUpperModal, #cityModal{
  top: 80px;
  z-index: 9998;
}

#homeModal .modal-content, #packageModal .modal-content, #packageUpperModal .modal-content, #morePackageUpperModal .modal-content,
#cityModal .modal-content{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.modal-backdrop{
  z-index: 9998;
}

.modal-content{
  z-index: 9999;
}

/*modal end*/

/*more packages start*/

.more-packages-row{
  margin-top: 30px;
}

.more-packages-header{
  font-family: Fertigo Pro, sans-serif;
  color: white;
  font-size: 70px;
  padding-top: 15px;
  margin-top: 0;
  margin-bottom: 015px;
}

.more-packages-sub-header {
  color: white;
  font-size: 15px;
  letter-spacing: 10px;
}

.package-summary{
  padding: 20px;
}

/*more packages ends*/

/*leisure start*/

@media (min-width: 992px) {
  .things-list ul{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.things-list{
  background-color:#F5F5F5 ;
  padding: 30px;
}

@media (max-width: 768px) {
  .leisure-banner{
    height: 400px;
  }
}

@media (max-width: 576px) {
  .leisure-banner{
    height: 500px;
  }
}

/*leisure ends*/
.place-card .place-card-large{
  padding: 50px;
}

bs-datepicker-container, bs-daterangepicker-container{
  z-index: 9999 !important;
}

/*.new-border{*/
  /*border: 1px solid #c5c3c3;*/
/*}*/

/*.new-outline{*/
  /*outline: 1px solid #c5c3c3;*/
  /*outline-offset: -8px;*/
/*}*/

