<!-- Modal -->

<div class="modal fade" id="homeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Customized Trip</h4>
      </div>
      <div class="modal-body">

        <div class="row">

          <div class="col-sm-4">
            <div class="form-group">
              <select class="form-control custom-form-control">
                <option disabled selected hidden>Tour Duration</option>
                <option>1 Day</option>
                <option>2 Day</option>
                <option>3 Day</option>
                <option>4 Day</option>
                <option>5 Day</option>
                <option>6 Day</option>
                <option>7 Day</option>
                <option>8 Day</option>
              </select>
            </div>
          </div>

          <div class="col-sm-4 modal-date-input">
            <div class="form-group" >
              <label class="sr-only" for="arrivalDate1">Arrival Date</label>
              <input readonly type="text" class="form-control custom-form-control" id="arrivalDate1"
                     placeholder="Arrival Date"
                     [minDate]="minDate"
                     #dp="bsDatepicker"
                     bsDatepicker [(bsValue)]="date1" value="{{ date1 | date:'yyyy-MM-dd' }}"
                     [(ngModel)] = "dateArrival1" name="arrivalDate1" #arrivalDate1="ngModel"
                     required/>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="sr-only" for="yourCountry1">Your Country</label>
              <input type="text" class="form-control custom-form-control" id="yourCountry1" placeholder="Your Country">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="sr-only" for="name1">Name</label>
              <input type="text" class="form-control custom-form-control" id="name1" placeholder="Name">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="sr-only" for="email1">Email</label>
              <input type="email" class="form-control custom-form-control" id="email1" placeholder="Email">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="sr-only" for="mobileNumber1">Mobile Number</label>
              <input type="text" class="form-control custom-form-control" id="mobileNumber1" placeholder="Mobile Number">
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <textarea class="form-control custom-form-control" rows="3"></textarea>
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default green-button white-button" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary green-button">ENQUIRE</button>
      </div>
    </div>
  </div>
</div>

<!--modal ends-->

<!--slider start-->
<div class="container-fluid">
  <div class="row home-slider-row">
    <p class="text-nowrap"><b>Sri Lanka</b></p>
    <p>By Sis Tour Operators</p>
    <div class="home-slider">
      <div>
        <div class="home-slider-image" style="background-image: url('../assets/images/homeSlider/1.jpg')"></div>
      </div>
      <div>
        <div class="home-slider-image" style="background-image: url('../assets/images/homeSlider/2.jpg')"></div>
      </div>
      <div>
        <div class="home-slider-image" style="background-image: url('../assets/images/homeSlider/3.jpg')"></div>
      </div>
      <div>
        <div class="home-slider-image" style="background-image: url('../assets/images/homeSlider/4.jpg')"></div>
      </div>
    </div>
  </div>
</div>
<!--slider ends-->

<!--form starts-->
<div class="container form-container">
  <div class="row">
    <div class="slider-form">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Our Packages</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Customized Tour</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">

        <div class="row">

          <form (ngSubmit)="onSubmit('our')" #f="ngForm">

              <div class="col-sm-4">
                  <div class="form-group">

                    <select class="form-control custom-form-control" [(ngModel)]="defaultPackage" name="package" required>

                      <option value="default" disabled>SELECT A PACKAGE</option>
                      <option value="{{package.mainTopic}} - {{package.subTopic}}" *ngFor="let package of allPackageList">{{package.mainTopic}} - {{package.subTopic}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4 modal-date-input">
                  <div class="form-group" >
                    <label class="sr-only" for="arrivalDate">Arrival Date</label>
                    <!--<input type="text" class="form-control custom-form-control" id="arrivalDate"-->
                    <!--placeholder="Arrival Date"-->
                    <!--ngModel-->
                    <!--name="arrivalDate"-->
                    <!--required />-->

                    <input readonly type="text" class="form-control custom-form-control" id="arrivalDate"
                           placeholder="Arrival Date"
                           [minDate]="minDate"
                           #dp="bsDatepicker"
                           bsDatepicker [(bsValue)]="dateForm" value="{{ dateForm | date:'yyyy-MM-dd' }}"
                           [(ngModel)] = "dateArrival" name="arrivalDate" #arrivalDate="ngModel"
                           required/>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="sr-only">Your Country</label>
                    <ng-select (change)="setCountryCode('our',selectedCountry)"
                              [items]="countryList"
                               bindLabel="name"
                               placeholder="Select your Country"
                               [(ngModel)] = "selectedCountry"
                              name="country">
                    </ng-select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" class="form-control custom-form-control" id="name" placeholder="Name" ngModel name="name" required/>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input type="email" class="form-control custom-form-control" id="email" placeholder="Email" ngModel name="email" required email #email="ngModel"/>
                    <span class="error-message" *ngIf="!email.valid && email.touched">Invalid Email Address.</span>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="sr-only" for="mobileNumber">Mobile Number</label>
                    <div class="row">
                      <div class="col-sm-4">
                        <input class="form-control custom-form-control" disabled style="padding-right: 0px" placeholder="Code" ngModel name="code">
                      </div>
                      <div class="col-sm-8">
                        <input type="text" class="form-control custom-form-control"
                        id="mobileNumber" pattern="[0-9]{9,10}" [disabled]="selectedCountry == null" maxlength="10"
                        placeholder="Mobile Number" ngModel name="mobile" #mobile="ngModel" required/>
                        <span class="error-message" *ngIf="!mobile.valid && mobile.touched">Invalid Phone Number.</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea class="form-control custom-form-control" rows="3" ngModel name="message" maxlength="500" #message="ngModel"></textarea>
                    <span class="error-message" *ngIf="!message.valid && mobile.touched">Max character length is 500.</span>
                  </div>
                </div>

                <div class="col-sm-6">
                    <button type="submit" class="btn btn-success green-button">submit</button>
                  </div>
          </form>


       </div>

        </div>


        <div role="tabpanel" class="tab-pane fade" id="profile">

          <form (ngSubmit)="onSubmit('custom')" #f2="ngForm">
              <div class="col-sm-4">
                  <div class="form-group">
                    <select class="form-control custom-form-control" ngModel name="duration">
                      <option value="" disabled selected hidden>Tour Duration</option>
                      <option>1 Day</option>
                      <option>2 Day</option>
                      <option>3 Day</option>
                      <option>4 Day</option>
                      <option>5 Day</option>
                      <option>6 Day</option>
                      <option>7 Day</option>
                      <option>8 Day</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4 modal-date-input">
                    <div class="form-group">
                      <label class="sr-only" for="arrivalDate2">Arrival Date</label>
                      <input readonly type="text" class="form-control custom-form-control" id="arrivalDate2"
                             placeholder="Arrival Date"
                             [minDate]="minDate"
                             #dp="bsDatepicker"
                             bsDatepicker [(bsValue)]="date2" value="{{ date2 | date:'yyyy-MM-dd' }}"
                             [(ngModel)] = "dateArrival2" name="arrivalDate2" #arrivalDate2="ngModel"
                             required/>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="sr-only">Your Country</label>
                      <ng-select (change)="setCountryCode('custom',selectedCountry2)"
                                [items]="countryList"
                                 bindLabel="name"
                                 placeholder="Select your Country"
                                 [(ngModel)] = "selectedCountry2"
                                name="country2">
                      </ng-select>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="sr-only" for="name">Name</label>
                      <input type="text" class="form-control custom-form-control" id="name2" placeholder="Name" ngModel name="name2" required/>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="sr-only" for="email">Email</label>
                      <input type="email" class="form-control custom-form-control" id="email2" placeholder="Email" ngModel name="email2" required email #email2="ngModel"/>
                      <span class="error-message" *ngIf="!email2.valid && email2.touched">Invalid Email Address.</span>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="sr-only" for="mobileNumber">Mobile Number</label>
                      <div class="row">
                        <div class="col-sm-4">
                          <input class="form-control custom-form-control" disabled style="padding-right: 0px" placeholder="Code" ngModel name="code2">
                        </div>
                        <div class="col-sm-8">
                          <input type="text" class="form-control custom-form-control"
                          id="mobileNumber" pattern="[0-9]{9,10}" [disabled]="selectedCountry2 == null" maxlength="10"
                          placeholder="Mobile Number" ngModel name="mobile2" #mobile2="ngModel" required/>
                          <span class="error-message" *ngIf="!mobile2.valid && mobile2.touched">Invalid Phone Number.</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group">
                      <textarea class="form-control custom-form-control" rows="3" ngModel name="message2" maxlength="500" #message2="ngModel"></textarea>
                      <span class="error-message" *ngIf="!message2.valid && message2.touched">Max character length is 500.</span>
                    </div>
                  </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-success green-button">submit</button>
                  </div>
          </form>
      </div>
      </div>

    </div>
  </div>
</div>

<!--form ends-->

<!--why sis operators starts-->

<div class="container-fluid why-sis-container">
  <div class="row why-sis-row">
    <h2 class="home-headings text-center">Discover <span class="home-headings-blue">Sis Tour Operators</span></h2>

    <p class="text-center">Welcome to SIS Tour Operators! We SIS Tour Operators were in the industry for so many years gaining experience and serving our clients with trust and care.
      We make sure the happiness, enthusiasm, safety and comfort of our clients through 0% complains. Our concept is to serve client with no extra money or hidden charges.
      They will only have to bring money for their shopping and personal interest, rest will be looked after from SIS Tour Operators.  </p>

    <p class="text-center">Our Main Office is situated at Wellawatte, Colombo, and it’s very easy to find. We will be replying our guests within few hours of their enquiries through mails. We strongly
      believe the trust of our repeating guests and we care our travelers comfort. Our trustworthy team of experts will provide the maximum satisfaction happiness and the
      comfort of our clients.</p>
  </div>
</div>

<!--why sis operators ends-->

<!--tour packages start-->

<div class="container-fluid home-package-container" id="packages">
  <div class="row">
    <h2 class="home-headings text-center" style="margin-bottom: 25px">Tour <span class="home-headings-blue">Packages</span></h2>
  </div>

  <div class="row">
    <div>
      <div class="col-md-6 home-packages">
        <div class="day-label text-center">
          <p><strong>{{packageMoreDetails.days}}</strong></p>
          <p>Days</p>
        </div>
        <div class="home-packages-images home-packages-images-first" [style.backgroundImage]="'url('+ packageMoreDetails.imagePath+'/'+packageMoreDetails.backgroundImage +')'">

        <div class="package-text-wrapper text-center package-main">
          <h2 class="text-uppercase">{{packageMoreDetails.mainTopic}}</h2>
          <p></p>
        </div>

        </div>
      </div>
      <div class="col-md-6 no-padding-left-right">
        <div class="col-md-12 quick-section">
          <div class="panel panel-default">
            <div class="panel-heading">{{packageMoreDetails.mainTopic}}</div>
            <div class="panel-body">
              <ul class="list-inline">
                <li *ngFor="let locations of locationCovered"><span><i class="fa fa-map-marker fa-lg"></i></span>{{locations}}</li>
              </ul>

              <div class="text-right">
                <button type="button" class="btn btn-success green-button" (click)="onClickViewMore(packageMoreDetails.id)">VIEW MORE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 home-packages" *ngFor="let p of packageList">
      <div class="day-label text-center">
        <p><strong>{{p.days}}</strong></p>
        <p>Days</p>
      </div>
      <div class="home-packages-images home-packages-images-small" [style.backgroundImage]="'url('+ p.imagePath+'/'+p.backgroundImage +')'">
        <div class="package-text-wrapper text-center">
          <p class="text-uppercase">{{p.mainTopic}}</p>
          <p>{{p.subTopic}}</p>
        </div>
        <div class="package-button">
          <button class="btn btn-success green-button" (click)="onClickTakeAPeak(p.id)">TAKE A PEAK</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 home-packages">
      <div class="home-packages-images-small" style="background-color: #0078D7">
        <div class="custom-package-text-wrapper text-center">
          <p class="text-uppercase">Customized trip</p>
        </div>

        <div class="custom-package-button text-center">
          <button class="btn btn-success green-button" data-toggle="modal" data-target="#homeModal">ENQUIRE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--tour packages end-->

<div class="text-center">
  <button class="btn btn-success green-button" type="button" (click)="onClickMorePackages()">MORE Packages</button>
</div>

<!--services start-->

<div class="container-fluid service-container">
  <div class="row">

    <div>
      <h2 class="home-headings text-center">Our <span class="home-headings-blue">Services</span></h2>
    </div>
    <div class="service-image-set-wrapper text-center">
      <div class="service-block">
        <div class="service-image-wrapper">
          <div class="service-images" style="background-image: url('../assets/images/services/hotel.svg')"></div>
        </div>
        <p>Hotel Reservations</p>
      </div>

      <div class="service-block">
        <div class="service-image-wrapper">
          <div class="service-images" style="background-image: url('../assets/images/services/tour.svg')"></div>
        </div>
        <p>Tour Packages</p>
      </div>

      <div class="service-block">
        <div class="service-image-wrapper">
          <div class="service-images" style="background-image: url('../assets/images/services/ticket.svg')"></div>
        </div>
        <p>Air Tickets</p>
      </div>

      <div class="service-block">
        <div class="service-image-wrapper">
          <div class="service-images" style="background-image: url('../assets/images/services/event.svg')"></div>
        </div>
        <p>Event Management</p>
      </div>

      <div class="service-block">
        <div class="service-image-wrapper">
          <div class="service-images" style="background-image: url('../assets/images/services/transport.svg')"></div>
        </div>
        <p>Transport services</p>
      </div>

    </div>
  </div>
</div>

<!--services end-->

<!--testimonial start-->

<div class="container-fluid" id="testimonials">
  <div class="row">

    <div>
      <h2 class="home-headings text-center">Our <span class="home-headings-blue">Clients</span> Says</h2>
    </div>

    <div class="testimonial">

      <div *ngFor="let t of testimonials">
        <div class="testimonial-box text-center">
          <div><span><i class="fa fa-quote-left fa-5x"></i></span></div>
          <p><em>{{t.feedback}}</em></p>
        </div>
        <div class="pro-pic" [style.backgroundImage]="'url('+ t.imagePath+'/'+t.clientImage +')'"></div>

        <div class="pro-pic-description">
          <p><strong>{{t.name}}</strong></p>
          <p><small>{{t.city}}, {{t.country}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--testimonial end-->


<!--my wrapper ends-->


