<div class="container-fluid">
  <div class="row">
    <div class="lanka-banner text-center" style="background-image: url('../assets/images/sriLanka/banner/13.jpg')">
      <h1><strong>Sri Lanka</strong></h1>
      <p class="text-uppercase">Wonder of Asia</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div [hidden]="currentPage != 1">
      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/1.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description" >
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Pinnawala Elephant Orphanage</span></h2>

          <p class="half-text text-muted">
            Pinnawala Elephant Orphanage started off with five abandoned wild elephants as the Sri Lanka culture background treats human and animal alike. Vijaya, Neela, Kadira, Mathalee and Kumari were the first five lucky elephants to be cared under the supervision of the kind caretakers. They were misplaced and abandoned baby elephants, that they cannot survive themselves on their own until about five years of age. they hence need to be hand   raised for their survival.
            The institution cares not only abandoned baby elephants they also take care of the once who are injured and maimed while living in the jungle, under the care of well-educated and experienced veterinary staff and traditional indigenous medical needs to cater the individual elephant’s needs.
            Today Pinnawala Elephant orphanage is a home for 88 elephants and among them there are few askers too.

          </p>

          <div class="full-text">

            <table class="text-muted" style="margin-bottom: 10px">
              <tr>
                <td><strong>Opening Time</strong></td>
                <td> : 8.30 am to 5.30 pm</td>
              </tr>
              <tr>
                <td><strong>Entrance fees</strong></td>
                <td> : RS 2500/=  Adult & RS 1250/= Child ( 3years to 12 years)</td>
              </tr>
              <tr>
                <td class="text-primary" style="padding-top: 5px;padding-bottom: 5px" ><strong>Activities</strong></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>Milk feeding</strong></td>
                <td> : 9.15 am – 9.45 am & 1.15 pm – 1.45 pm</td>
              </tr>
              <tr>
                <td><strong>Elephant Bath in the river</strong></td>
                <td> : 10.00 am – 12.00 pm & 2.00 pm – 4.00 pm</td>
              </tr>
              <tr>
                <td><strong>Fruit feeding</strong></td>
                <td> : 9.00 am – 9.45 am & 12.00 pm – 1.45 pm</td>
              </tr>
            </table>

            <p class="text-muted">

              Pinnawala Elephant Orphanage started off with five abandoned wild elephants as the Sri Lanka culture background treats human and animal alike. Vijaya, Neela, Kadira, Mathalee and Kumari were the first five lucky elephants to be cared under the supervision of the kind caretakers. They were misplaced and abandoned baby elephants, that they cannot survive themselves on their own until about five years of age. they hence need to be hand   raised for their survival.
              The institution cares not only abandoned baby elephants they also take care of the once who are injured and maimed while living in the jungle, under the care of well-educated and experienced veterinary staff and traditional indigenous medical needs to cater the individual elephant’s needs.
              Today Pinnawala Elephant orphanage is a home for 88 elephants and among them there are few askers too.

            </p>
          </div>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>

      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/2.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Anuradhapura</span></h2>

          <p class="half-text text-muted">
            Renowned as one of the oldest inhabited cities of the world found in the year 380 BC and was the island’s first ancient capital
            where they have used the ancient Sinhala civilizations irrigation and architectural expertise where the reason behind the thriving
            history of this kingdom. City is known for the “Atamasthana”, where there will be millions of devotees in a year. They are Jaya siri
            maha Bhodi, Ruwanwelisaya, Thuparamaya, Lovamahapaya, Jethawanaramaya, Abhayagiri Dagaba, Mirisawetiya Stupa and Lankarama.
            There are many other known structures such as Isurumuniya, Queens Palace and Kuttam pokuna, where it shows the greatness of the
            ancient kingdom and its honor of Buddhism.
          </p>

          <p class="full-text text-muted">
            Renowned as one of the oldest inhabited cities of the world found in the year 380 BC and was the island’s first ancient capital
            where they have used the ancient Sinhala civilizations irrigation and architectural expertise where the reason behind the thriving
            history of this kingdom. City is known for the “Atamasthana”, where there will be millions of devotees in a year. They are Jaya siri
            maha Bhodi, Ruwanwelisaya, Thuparamaya, Lovamahapaya, Jethawanaramaya, Abhayagiri Dagaba, Mirisawetiya Stupa and Lankarama.
            There are many other known structures such as Isurumuniya, Queens Palace and Kuttam pokuna, where it shows the greatness of the
            ancient kingdom and its honor of Buddhism.
          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>

      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/3.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Polonnaruwa</span></h2>

          <p class="half-text text-muted">
            Second most ancient city in Sri Lanka and declared as capital after defeating “Chola Invaders” in 1070 . King Parakramabahu reign
            bought a new dawn to the island with superior irrigation system than Anuradhapura where used for paddy cultivation. The city is
            enriched with many archaeological relics and monuments and is one of the best planned sites in Sri Lanka. The city is known as
            “monkey Kingdom” as population by seen lots of monkeys around the area. Some of the attractions of the city are statue of king
            Parakramabahu, Vatadage, Sathmahal Prasadaya, Sivan Temple etc.
          </p>

          <p class="full-text text-muted">
            Second most ancient city in Sri Lanka and declared as capital after defeating “Chola Invaders” in 1070 . King Parakramabahu reign
            bought a new dawn to the island with superior irrigation system than Anuradhapura where used for paddy cultivation. The city is
            enriched with many archaeological relics and monuments and is one of the best planned sites in Sri Lanka. The city is known as
            “monkey Kingdom” as population by seen lots of monkeys around the area. Some of the attractions of the city are statue of king
            Parakramabahu, Vatadage, Sathmahal Prasadaya, Sivan Temple etc.
          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>

      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/4.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Mihinthale</span></h2>

          <p class="half-text text-muted">
            Mihinthale is a mountain peak situated near to Anuradhapura. This is the place where to present Buddhism in Sri Lanka was
            inaugurated by the great Buddhist Monk Mihindu Maha Rahathan Thero. The foot of the mount consists the remains of a hospital,
            medical bath and stone inscriptions and it contains 1840 steps to climb the peak of the mountain.  Ambasthala dagaba, Maha sthupa,
            Aradhana gala, Kaludiya Pokuna, Naga Pokuna and Sinha Pokuna are some of the locations in Mihinthale.
          </p>

          <p class="full-text text-muted">
            Mihinthale is a mountain peak situated near to Anuradhapura. This is the place where to present Buddhism in Sri Lanka was
            inaugurated by the great Buddhist Monk Mihindu Maha Rahathan Thero. The foot of the mount consists the remains of a hospital,
            medical bath and stone inscriptions and it contains 1840 steps to climb the peak of the mountain.  Ambasthala dagaba, Maha sthupa,
            Aradhana gala, Kaludiya Pokuna, Naga Pokuna and Sinha Pokuna are some of the locations in Mihinthale.
          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>
    </div>

    <div [hidden]="currentPage != 2">
      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/5.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Sigiriya</span></h2>

          <p class="half-text text-muted">
            This is known as Lion Rock. Lion Rock is a natural giant rock which is close to 200m in high. Tis site was chosen by king Kashyapa (447- 495CE) and it is visible the ruins of the palace. Lion rock is famous for the Frescos , mirror wall and water gardens.
          </p>

          <p class="full-text text-muted">
            This is known as Lion Rock. Lion Rock is a natural giant rock which is close to 200m in high. Tis site was chosen by king Kashyapa (447- 495CE) and it is visible the ruins of the palace. Lion rock is famous for the Frescos , mirror wall and water gardens.
          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>

      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/6.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Dambulla</span></h2>

          <p class="half-text text-muted">
            Largest cave temple in Sri Lanka is situated in Dambulla, known as Dambulla cave temple or golden cave temple. The rock tower 160m surrounding the plains. There are about 80 documented caves in the network though there are five main caves where the devotees are allowed to visit.
          </p>

          <p class="full-text text-muted">
            Largest cave temple in Sri Lanka is situated in Dambulla, known as Dambulla cave temple or golden cave temple. The rock tower 160m surrounding the plains. There are about 80 documented caves in the network though there are five main caves where the devotees are allowed to visit.
          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>

      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/7.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Ritigala</span></h2>

          <p class="half-text text-muted">
            This is a mountain which consist of the ruins of an ancient Buddhist monastery, which found dated back in 1st sanctuary BC.  Mountain stands 766m above the sea level. Due to the high many places like Sigiriya, Dambulla cave temple, Mihinthale are visible on the top of the mountain.
          </p>

          <p class="full-text text-muted">
            This is a mountain which consist of the ruins of an ancient Buddhist monastery, which found dated back in 1st sanctuary BC.  Mountain stands 766m above the sea level. Due to the high many places like Sigiriya, Dambulla cave temple, Mihinthale are visible on the top of the mountain.
          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>

      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/8.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Kanndy</span></h2>

          <p class="half-text text-muted">
            Known as “Maha Nuwara”. This is the second largest city next to Colombo. Kandy is the home for the temple of the sacred tooth relic known as Dalada Maligawa. Kandy is geographically a major transportation hub for central Sri Lanka and known as the gateway to the central highlands. Royal palace which is the national museum of Kandy, Lankathilaka Temple, Gadaladeniya Temple, The Royal Botanical gardens and Knuckles mountain range, Allagalla Mountain range, Udawatte kale are some of the sites seen in Kandy.
          </p>

          <p class="full-text text-muted">
            Known as “Maha Nuwara”. This is the second largest city next to Colombo. Kandy is the home for the temple of the sacred tooth relic known as Dalada Maligawa. Kandy is geographically a major transportation hub for central Sri Lanka and known as the gateway to the central highlands. Royal palace which is the national museum of Kandy, Lankathilaka Temple, Gadaladeniya Temple, The Royal Botanical gardens and Knuckles mountain range, Allagalla Mountain range, Udawatte kale are some of the sites seen in Kandy.
          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>
    </div>

    <div [hidden]="currentPage != 3">
      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/9.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Trekking Village of Hiriwadunna</span></h2>

          <p class="half-text text-muted">
            This will make you feel what a life really likes in a Sri Lankan village. It is a village where about 2500 people live. Onion farming is the main income of the villages. This trekking includes riding on paddle boats, riding on traditional bullock carts where it will be so much fun and enjoyable. Even you can taste a traditional meal cooked in clay pots and the freshly picked vegetables from the Chena farms where the villagers cultivate organic vegetables for the home use. Can taste fruits like bananas, jack fruit, mangoes from their own gardens and experience the way they pick coconuts, how to break and scrape them. Feel the fresh air from the paddy fields and Chenas and make the soul calm down.
          </p>

          <p class="full-text text-muted">
            This will make you feel what a life really likes in a Sri Lankan village. It is a village where about 2500 people live. Onion farming is the main income of the villages. This trekking includes riding on paddle boats, riding on traditional bullock carts where it will be so much fun and enjoyable. Even you can taste a traditional meal cooked in clay pots and the freshly picked vegetables from the Chena farms where the villagers cultivate organic vegetables for the home use. Can taste fruits like bananas, jack fruit, mangoes from their own gardens and experience the way they pick coconuts, how to break and scrape them. Feel the fresh air from the paddy fields and Chenas and make the soul calm down.
          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>

      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/10.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Hot Air Balloons</span></h2>

          <p class="half-text text-muted">
            Most popular activity in Dambulla and Sigiriya areas. You can enjoy the smell of green leaves and experience the ride above the tree tops farms and paddy fields. See the beauty of Sri Lankan villages from above the sky. Experience the glamour of the paradise up from the sky. Whole excursion will be about 3 ½ hours and they will pick you from the hotel and drop you from the hotel. November to may will be the best season for balloon. Cost may vary time to time and presently the cost is around $225.
          </p>

          <p class="full-text text-muted">
            Most popular activity in Dambulla and Sigiriya areas. You can enjoy the smell of green leaves and experience the ride above the tree tops farms and paddy fields. See the beauty of Sri Lankan villages from above the sky. Experience the glamour of the paradise up from the sky. Whole excursion will be about 3 ½ hours and they will pick you from the hotel and drop you from the hotel. November to may will be the best season for balloon. Cost may vary time to time and presently the cost is around $225.
          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>

      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/11.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Wasgamuwa National Park</span></h2>

          <p class="half-text text-muted">
            Wasgamuwa National park spanning over 36900 hectares and borded by river Mahaveli and River Amban Ganga. The combition of small reservoirs and Sudu Kanda Mountain range affords fine trekking opportunities for keen hikers.
            Tropical dry mixed evergreen forest predominates characterized by tall trees; Weera, Palu. Wa, Ehela, Burutha, Velang, Gass Siyambala, Milla and Kaluwara. The center of the attraction is herds of elephants of 150. November to May is the best time to enjoy largest herds of elephants. Main annual temperature will be around 27co. Other wild animals live in this area are Purple faced Langer Monkeys, Wiled Bore, Sambar and spotted deer, buffalos, rarely sighted leopards, Sloth Bears, Water Monitors, Mugger Crocodiles, Estuarine Crocodiles and pythons. There are about 143 species of birds reported in Wasgamuwa National Park. Among those birds which belongs to Sri Lanka are Trogon, Racquet Tail Drago, Endemic Yellow Fronted Barbet, Endemic Sri Lanka Sparrow, White Necked stork and lesser adjutant stork.

          </p>

          <p class="full-text text-muted">
            Wasgamuwa National park spanning over 36900 hectares and borded by river Mahaveli and River Amban Ganga. The combition of small reservoirs and Sudu Kanda Mountain range affords fine trekking opportunities for keen hikers.
            Tropical dry mixed evergreen forest predominates characterized by tall trees; Weera, Palu. Wa, Ehela, Burutha, Velang, Gass Siyambala, Milla and Kaluwara. The center of the attraction is herds of elephants of 150. November to May is the best time to enjoy largest herds of elephants. Main annual temperature will be around 27co. Other wild animals live in this area are Purple faced Langer Monkeys, Wiled Bore, Sambar and spotted deer, buffalos, rarely sighted leopards, Sloth Bears, Water Monitors, Mugger Crocodiles, Estuarine Crocodiles and pythons. There are about 143 species of birds reported in Wasgamuwa National Park. Among those birds which belongs to Sri Lanka are Trogon, Racquet Tail Drago, Endemic Yellow Fronted Barbet, Endemic Sri Lanka Sparrow, White Necked stork and lesser adjutant stork.

          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>

      <div class="col-md-12 lanka-block">

        <div class="col-md-6 lanka-image-container no-padding-left-right">
          <div class="lanka-image" style="background-image: url('../assets/images/sriLanka/12.jpg')"></div>
        </div>
        <div class="col-md-6 lanka-description">
          <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Passikudah</span></h2>

          <p class="half-text text-muted">
            Passikudah bay contains a shallow coral reef towards the outer bay, and is connected to the similar reef systems further south towards Kalkudah. It is one of the best reef systems in the east and has been proposed as a marine sanctuary by NARA. Passikudah is very popular among visitors due to the calm clear water which are ideal for Swimming.
          </p>

          <p class="full-text text-muted">
            Passikudah bay contains a shallow coral reef towards the outer bay, and is connected to the similar reef systems further south towards Kalkudah. It is one of the best reef systems in the east and has been proposed as a marine sanctuary by NARA. Passikudah is very popular among visitors due to the calm clear water which are ideal for Swimming.
          </p>

          <div>
            <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
            <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-12">
      <nav aria-label="...">
        <ul class="pager">
          <!--<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>-->
          <!--<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>-->
          <li class="previous"><span class="btn" *ngIf="older" (click)="loadPrev()"><span aria-hidden="true">&larr;</span> Previous</span></li>
          <li class="next"><span class="btn" *ngIf="newer" (click)="loadNext()">Next <span aria-hidden="true">&rarr;</span></span></li>
        </ul>
      </nav>
    </div>

  </div>
</div>
