<div class="container-fluid">
  <div class="row about-us-row">
    <div class="about-us-banner leisure-banner" style="background-image: url('./assets/images/leisure/banner/1.jpg')"></div>

    <div class="about-us-banner-text">
      <h2><strong>Leisure</strong></h2>
      <p>When you are planning a tour to Sri Lanka, first question comes to your mind is, how you can better plan your tour to capture all the best experiences and attractions is Sri Lanka . A very unique thing about Sri Lanka is that you can get different experiences when you travel to different part of the country. For example, Sri Lanka may be the only country you can see the world’s biggest land mammal, the elephant, and its largest marine  mammal, the blue whale, in a single day.</p>
      <p>We will try to summaries top 10 thins to do in Sri Lanka in this post . But just to let you know that there are more than 10 to chose ,and that is  purely depend on your level of interest.</p>
    </div>
  </div>

  <div class="row things-list">
    <div class="col-md-12">
      <h4 class="text-primary">First below are all the best things to do in Sri Lanka.</h4>
      <ul class="list-unstyled">
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Pinnawala Elephant Orphanage</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Cultural Tangle ( Sigiriya ( The Lions Rock ) , Anuradhapura , Polonnaruwa , Dambulla Cave Temple)</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Hot Air Balloon Safari – Dambulla</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Trekking Village of Hirwadunna ( Sri Lanka Village experience and authentic food )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Nuwara Eliya ( Knows as little England , famous for tea plantations and cool climate )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Adam’s Peak ( Known as SriPadaya ,  One of the most religious place in Sri Lanka, and unforgettable experience)</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Kitulgala ( White water rafting )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Ella/ Haputale ( One of the best scenery locations you meet in Sri Lanka )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Train journey from Ella to Nuwara Eliya or Kandy ( The most unforgettable experience )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Kandy Perehara</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Mirissa ( Best down south beach / Starting point of Blue Whale Watching )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Galle / Unawatuna ( Best beach & Galle fortress )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Hikkaduwa (  Beach)</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Maduganga Boat Ride ( Balapitiya )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Benthota ( Beach )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Eco Adventure in different locations in Sri Lanka ( You will be totally disconnect from the world )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Wasgamuwa Wild Safari ( Elephant watching )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Pasikuda ( The most beautiful beach in Sri Lanka , but it a long journey )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Kandy ( City Tour & Cultural show , buy gems )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> The Temple of tooth ( One of the most religious place in Sri Lanka)</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Yala/Katharagama ( Famous for Yala National park safari , Leopard watching )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Arugam bay ( The best surfing destination in Sri Lanka )</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Udawalawe  Nation Park ( best place to get close to Elephants)</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Shopping in Colombo</li>
        <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Explore Sinharaja  national park and a biodiversity hotspot in Sri Lanka</li>

      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-12 lanka-block" [hidden]="currentPage != 1">

      <div class="col-md-6 lanka-image-container no-padding-left-right">
        <div class="lanka-image" style="background-image: url('./assets/images/leisure/1.jpg')"></div>
      </div>
      <div class="col-md-6 lanka-description">
        <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Sigiriya ( Lion Rock ) in Dambulla Sri Lanka</span></h2>

        <p class="half-text text-muted">
          Most people say 8th wonder of the world , a UNESCO World Heritage Sites , The Sigiriya is one of the most visited       attraction in Sri Lanka by the tourist . In ancient times this was a Buddhist temple , later it was turned in to a big  fortress. Still  it’s unknown , how the technology was used to built it  and the  irrigation system developed to bring the water to the top of the rock . You can see still some of the fountains are working.
        </p>

        <p class="full-text text-muted">
          Most people say 8th wonder of the world , a UNESCO World Heritage Sites , The Sigiriya is one of the most visited       attraction in Sri Lanka by the tourist . In ancient times this was a Buddhist temple , later it was turned in to a big  fortress. Still  it’s unknown , how the technology was used to built it  and the  irrigation system developed to bring the water to the top of the rock . You can see still some of the fountains are working.
        </p>

        <div>
          <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
          <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
        </div>
      </div>

    </div>

    <div class="col-md-12 lanka-block" [hidden]="currentPage != 1">

      <div class="col-md-6 lanka-image-container no-padding-left-right">
        <div class="lanka-image" style="background-image: url('./assets/images/leisure/2.jpg')"></div>
      </div>
      <div class="col-md-6 lanka-description">
        <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Blue Whales & Dolphin watching</span></h2>

        <p class="half-text text-muted">
          Sri Lanka may be the only country you can see the world’s biggest land mammal, the elephant, and its largest marine  mammal, the blue whale, in a single day. Head over to Mirissa , down south in Sri Lanka. Just for your note , don’t expect a luxury Yoat for your trip , most of the time you will get a seated fishing boat . Also there is a time of the year you can see the blue whales .Mirissa whale watching season begin from mid of November till April of next year . So better plan your itinerary.
        </p>

        <p class="full-text text-muted">
          Sri Lanka may be the only country you can see the world’s biggest land mammal, the elephant, and its largest marine  mammal, the blue whale, in a single day. Head over to Mirissa , down south in Sri Lanka. Just for your note , don’t expect a luxury Yoat for your trip , most of the time you will get a seated fishing boat . Also there is a time of the year you can see the blue whales .Mirissa whale watching season begin from mid of November till April of next year . So better plan your itinerary.
        </p>

        <div>
          <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
          <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
        </div>
      </div>

    </div>

    <div class="col-md-12 lanka-block" [hidden]="currentPage != 1">

      <div class="col-md-6 lanka-image-container no-padding-left-right">
        <div class="lanka-image" style="background-image: url('./assets/images/leisure/3.jpg')"></div>
      </div>
      <div class="col-md-6 lanka-description">
        <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Wild Safari ( Yala/ Udawalawe/ Wasgamuwa )</span></h2>

        <p class="half-text text-muted">
          Yala Wild Safari is the most famous among tourist , that you can see different type of animals including Elephants . Udawalawe  National Park  and Wasgamuwa National Park is famous for Elephants . Also keep in mind that there are many other National parks that are not highlighted here.
        </p>

        <p class="full-text text-muted">
          Yala Wild Safari is the most famous among tourist , that you can see different type of animals including Elephants . Udawalawe  National Park  and Wasgamuwa National Park is famous for Elephants . Also keep in mind that there are many other National parks that are not highlighted here.
        </p>

        <div>
          <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
          <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
        </div>
      </div>

    </div>
    <!-- </div> -->

    <!-- <div [hidden]="currentPage != 2"> -->
    <div class="col-md-12 lanka-block" [hidden]="currentPage != 2">

      <div class="col-md-6 lanka-image-container no-padding-left-right">
        <div class="lanka-image" style="background-image: url('./assets/images/leisure/4.jpg')"></div>
      </div>
      <div class="col-md-6 lanka-description">
        <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Adam’s Peak</span></h2>

        <p class="half-text text-muted">
          Also know as butterfly mountain , Sri Pada . It is well known for the Sri Pada, i.e., “sacred footprint”, a 1.8 m (5 ft 11 in) rock formation near the summit, which in Buddhist tradition is held to be the footprint of the Buddha, in Hindu tradition that of Shiva and in Islamic and Christian tradition that of Adam, or that of St. Thomas. Source:Wikipedia It’s a 8KM journey , the best experience you will get is when you reach to the top of the mountain , the view you will get is unforgettable . You should climb the mountain in mid night , so you can get to the top by early morning . In that way you will be able to see the sun rise , know to one of the best views of the sun rise in the world. Remember most of the time next day should be a relaxing day for you.
        </p>

        <p class="full-text text-muted">
          Also know as butterfly mountain , Sri Pada . It is well known for the Sri Pada, i.e., “sacred footprint”, a 1.8 m (5 ft 11 in) rock formation near the summit, which in Buddhist tradition is held to be the footprint of the Buddha, in Hindu tradition that of Shiva and in Islamic and Christian tradition that of Adam, or that of St. Thomas. Source:Wikipedia It’s a 8KM journey , the best experience you will get is when you reach to the top of the mountain , the view you will get is unforgettable . You should climb the mountain in mid night , so you can get to the top by early morning . In that way you will be able to see the sun rise , know to one of the best views of the sun rise in the world. Remember most of the time next day should be a relaxing day for you.
        </p>

        <div>
          <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
          <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
        </div>
      </div>

    </div>

    <div class="col-md-12 lanka-block" [hidden]="currentPage != 2">

      <div class="col-md-6 lanka-image-container no-padding-left-right">
        <div class="lanka-image" style="background-image: url('./assets/images/leisure/5.jpg')"></div>
      </div>
      <div class="col-md-6 lanka-description">
        <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">White water rafting</span></h2>

        <p class="half-text text-muted">
          Kitulgala is famous for white water rafting along this Kalani River . Anyone can enjoy the white water rafting , it not a too dangerous root but plenty of excitement is there.
        </p>

        <p class="full-text text-muted">
          Kitulgala is famous for white water rafting along this Kalani River . Anyone can enjoy the white water rafting , it not a too dangerous root but plenty of excitement is there.
        </p>

        <div>
          <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
          <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
        </div>
      </div>

    </div>

    <div class="col-md-12 lanka-block" [hidden]="currentPage != 2">

      <div class="col-md-6 lanka-image-container no-padding-left-right">
        <div class="lanka-image" style="background-image: url('./assets/images/leisure/6.jpg')"></div>
      </div>
      <div class="col-md-6 lanka-description">
        <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Temple of tooth and Kandy Cultural show </span></h2>

        <p class="half-text text-muted">
          Sri Dalada Maligawa or the Temple of the Sacred Tooth Relic is a Buddhist temple in the city of Kandy, Sri Lanka. It is located in the royal palace complex of the former Kingdom of Kandy. You will get a picture of the Sri Lankan history and traditions around the temple of tooth.
        </p>

        <p class="full-text text-muted">
          Sri Dalada Maligawa or the Temple of the Sacred Tooth Relic is a Buddhist temple in the city of Kandy, Sri Lanka. It is located in the royal palace complex of the former Kingdom of Kandy. You will get a picture of the Sri Lankan history and traditions around the temple of tooth.
        </p>

        <div>
          <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
          <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
        </div>
      </div>

    </div>

    <div class="col-md-12 lanka-block" [hidden]="currentPage != 3">

      <div class="col-md-6 lanka-image-container no-padding-left-right">
        <div class="lanka-image" style="background-image: url('./assets/images/leisure/7.jpg')"></div>
      </div>
      <div class="col-md-6 lanka-description">
        <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Trekking Village of Hiriwadunna</span></h2>

        <p class="half-text text-muted">
          Get the Sri Lanka village experience and taste the most authentic Sri Lankan foods you will ever get.
        </p>

        <p class="full-text text-muted">
          Get the Sri Lanka village experience and taste the most authentic Sri Lankan foods you will ever get.
        </p>

        <div>
          <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
          <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
        </div>
      </div>

    </div>

    <div class="col-md-12 lanka-block" [hidden]="currentPage != 3">

      <div class="col-md-6 lanka-image-container no-padding-left-right">
        <div class="lanka-image" style="background-image: url('./assets/images/leisure/8.jpg')"></div>
      </div>
      <div class="col-md-6 lanka-description">
        <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Train journey from Ella to Nuwara Eliya or Kandy</span></h2>

        <p class="half-text text-muted">
          This will be an unforgettable experience , one of the best senaric views of Sri Lanka . Most of the tour packages design to go to Ella with your tour guide and on the next day morning you will get on the train and enjoy the train ride to Nuwara Eliya. Once you reach Nuwara Eliya , the guide will pick you from there.
        </p>

        <p class="full-text text-muted">
          This will be an unforgettable experience , one of the best senaric views of Sri Lanka . Most of the tour packages design to go to Ella with your tour guide and on the next day morning you will get on the train and enjoy the train ride to Nuwara Eliya. Once you reach Nuwara Eliya , the guide will pick you from there.
        </p>

        <div>
          <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
          <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
        </div>
      </div>

    </div>

    <div class="col-md-12 lanka-block" [hidden]="currentPage != 3">

      <div class="col-md-6 lanka-image-container no-padding-left-right">
        <div class="lanka-image" style="background-image: url('./assets/images/leisure/9.jpg')"></div>
      </div>
      <div class="col-md-6 lanka-description">
        <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Pinnawala Elephant Orphanage</span></h2>

        <p class="half-text text-muted">
          Get close to Elephants , you have chance to feed Elephant babies and to watch them on their bath time . “Pinnawala is notable for having the largest herd of captive elephants in the world. In 2011, there were 88 elephants, including 37 males and 51 females from 3 generations, living in Pinnawala” Source.
        </p>

        <p class="full-text text-muted">
          Get close to Elephants , you have chance to feed Elephant babies and to watch them on their bath time . “Pinnawala is notable for having the largest herd of captive elephants in the world. In 2011, there were 88 elephants, including 37 males and 51 females from 3 generations, living in Pinnawala” Source.
        </p>

        <div>
          <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
          <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
        </div>
      </div>

    </div>

    <div class="col-md-12 lanka-block" [hidden]="currentPage != 3">

      <div class="col-md-6 lanka-image-container no-padding-left-right">
        <div class="lanka-image" style="background-image: url('./assets/images/leisure/10.jpg')"></div>
      </div>
      <div class="col-md-6 lanka-description">
        <h2 class="home-headings text-left" style="margin-bottom: 25px"><span class="home-headings-blue">Beach</span></h2>

        <p class="half-text text-muted">
          Sri Lanka is famous for number of best beaches , most of the down south beaches are tourist top attractions . Mirissa, Unawatuna , Hikkaduwa , Benthota and Pasikuda among the best beaches in Sri Lanka.
        </p>

        <p class="full-text text-muted">
          Sri Lanka is famous for number of best beaches , most of the down south beaches are tourist top attractions . Mirissa, Unawatuna , Hikkaduwa , Benthota and Pasikuda among the best beaches in Sri Lanka.
        </p>

        <div>
          <button class="btn btn-success green-button">VIEW MORE <span><i class="fa fa-angle-double-down"></i></span></button>
          <button class="btn btn-success green-button">VIEW LESS <span><i class="fa fa-angle-double-up"></i></span></button>
        </div>
      </div>

    </div>

    <div class="col-md-12">
      <nav aria-label="...">
        <ul class="pager">
          <li class="previous"><span class="btn" *ngIf="older" (click)="loadPrev()"><span aria-hidden="true">&larr;</span> Previous</span></li>
          <li class="next"><span class="btn" *ngIf="newer" (click)="loadNext()">Next <span aria-hidden="true">&rarr;</span></span></li>
        </ul>
      </nav>
    </div>

  </div>
</div>
