<div class="container-fluid">
  <div class="row about-us-row">
    <div class="about-us-banner" style="background-image: url('./assets/images/aboutUs/2.jpg')"></div>

    <div class="about-us-banner-text">
      <h2><strong>Our Story</strong></h2>
      <p>We are based in Colombo and started as a small company, and now we are one of the best tour operators among the industry
        been trustworthy, professional and making sure an unforgettable experience to all our clients. We have made a good amount of
        repeating guests who keep trust on us from the time we started our company. We are expanding our clientele day by day.
        Our dedicated staff will make sure that you will have best experience of your special days.</p>
    </div>
  </div>

  <div class="text-center">
    <h2 class="home-headings text-center">Why <span class="home-headings-blue">Sis Tour Operators</span></h2>

      <div class="row about-us-middle">
        <div class="col-md-2 col-md-offset-1">
          <p>We are on the top among tour operating companies in Sri Lanka</p>
        </div>
        <div class="col-md-2">
          <p>We Offer inbound tour packages, Holiday Packages, Honeymoon Packages and wedding packages</p>
        </div>
        <div class="col-md-2">
          <p>No hidden Charges, bring money for shopping and personal interests</p>
        </div>
        <div class="col-md-2">
          <p>We do appoint a team of professionals to give you maximum happiness, satisfaction and comfort</p>
        </div>
        <div class="col-md-2">
          <p>24/7 , 365 Days Customer Service</p>
        </div>
      </div>

  </div>

  <div>
    <div class="row">
      <div class="col-md-6">
        <h2 class="home-headings text-center">Our <span class="home-headings-blue">Mission</span></h2>
        <div class="mission-div">
          <p>SIS Tour operator’s mission is to provide high quality service in the tourism and hospitality industry, timely and effectively.</p>

          <p>SIS tour operator’s work at fulfilling this mission by placing keen emphasis on:</p>

          <ul class="list-unstyled">
            <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Prompt Service delivery</li>
            <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Regular training of staff</li>
            <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Competitive pricing of service</li>
            <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Progressive Programs and Strategies aimed at motivating our employees to produce their best.</li>
          </ul>
        </div>

      </div>
      <div class="col-md-6">
        <h2 class="home-headings text-center">Our <span class="home-headings-blue">Vision</span></h2>
        <div class="vision-div">
          <p>To become the leading private – Owned travel and tour operators in Sri Lanka, by relaying on a well motivated, trained and experienced workforce , applying appropriate technology and providing maximum satisfaction to the customers. </p>

          <p>The vision is progressively being achieved by the follow: </p>

          <ul class="list-unstyled">
            <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> An increased focus on improved profitability</li>
            <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Enhancing employee motivation and loyalty to the company</li>
            <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> implementing cutting – edge reservation and marketing tools available in the industry.</li>
            <li><span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> Seeking out – of- the – box strategies in distinguishing ourselves from the competition in order to get the most customer satisfaction possible.</li>
          </ul>
        </div>


      </div>
    </div>
  </div>

</div>
