<!--my navigation bar start-->

<div class="navbar-blue-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 no-padding-left">
        <p><span class="hidden-xs">FOLLOW US ON :</span> <span><i class="fa fa-facebook-square" aria-hidden="true"></i></span> <span><i class="fa fa-twitter-square" aria-hidden="true"></i></span> <span><i class="fa fa-google-plus-square" aria-hidden="true"></i></span> <span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></p>
      </div>
      <div class="col-xs-3">
        <p class="text-nowrap"><span class="hidden-xs">HOTLINE :</span> 011 2568799</p>
      </div>
      <div class="col-xs-6 text-right no-padding-right">
        <div id="google_translate_element"></div>
      </div>
    </div>
  </div>
</div>

<div class="container navbar-container">
 <nav class="navbar navbar-default custom-navbar">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Wikimedia-logo.png" alt="logo" width="30">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['home']">HOME <span class="sr-only">(current)</span></a></li>
        <li class="active"><a [routerLink]="['packages']">PACKAGES <span class="sr-only">(current)</span></a></li>
        <li class="active"><a [routerLink]="['leisure']">LEISURE <span class="sr-only">(current)</span></a></li>
        <li class="active"><a [routerLink]="['about-lanka']">SRILANKA <span class="sr-only">(current)</span></a></li>
        <li class="active"><a [routerLink]="['testimonials']">TESTIMONIALS <span class="sr-only">(current)</span></a></li>
        <li class="active"><a [routerLink]="['about-us']">ABOUT US <span class="sr-only">(current)</span></a></li>
        <li class="active"><a [routerLink]="['contacts']">CONTACT US <span class="sr-only">(current)</span></a></li>
        <li><a href=""><span><i class="fa fa-search" aria-hidden="true"></i></span></a></li>

      </ul>

      <!--<form class="navbar-form navbar-left">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->

    </div><!-- /.navbar-collapse -->
  </nav><!-- /.container-fluid -->
</div>

<!--my navigation bar end-->


<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>


