<!--search start-->

<!--<div id="myOverlay" class="overlay">-->
<!--<span class="closebtn" title="Close Overlay">×</span>-->
<!--<div class="overlay-content">-->
<!--<form action="">-->
<!--<input type="text" placeholder="Search.." name="search">-->
<!--<button class="btn btn-success green-button" type="submit"><i class="fa fa-search"></i></button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->

<!--search end-->

<!--my navigation bar start-->

<div class="navbar-blue-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 no-padding-left">
        <p>
          <span class="hidden-xs">FOLLOW US ON :</span>
          <a href="https://web.facebook.com/SIS-Tour-Operators-2057700554465474/?hc_ref=ARRxTabDlB7SKtlyOAsN45QJg9PpXwkjyvnAOfHbbjbyYTymKNIiienybPNbLQjOBYw"
            target="_blank">
            <span>
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </span>
          </a>
          <a href="https://plus.google.com/u/0/106638981153726355372" target="_blank">
            <span>
              <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            </span>
          </a>
          <a href="https://twitter.com/sistouroperator" target="_blank">
            <span>
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </span>
          </a>
        </p>
      </div>
      <div class="col-xs-3">
        <p class="text-nowrap">
          <span class="hidden-xs">HOTLINE :</span> Sri Lan. +94 77 633 9000 / Saudi Ara. +966 50 724 8196</p>
      </div>
      <div class="col-xs-6 text-right no-padding-right">
        <div id="google_translate_element"></div>
      </div>
    </div>
  </div>
</div>

<div class="container navbar-container">
  <nav class="navbar navbar-default custom-navbar" data-spy="affix" data-offset-top="20">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <!--<img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Wikimedia-logo.png" alt="logo" width="30">-->
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a [routerLink]="['home']">HOME
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="['home']" fragment="packages">PACKAGES
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="['leisure']">LEISURE
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="['about-lanka']">SRI LANKA
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="['home']" fragment="testimonials">TESTIMONIALS
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="['about-us']">ABOUT US
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="['contacts']">CONTACT US
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!--<li class="openBtn"><a><span><i class="fa fa-search" aria-hidden="true"></i></span></a></li>-->
      </ul>

      <!--<form class="navbar-form navbar-left">-->
      <!--<div class="form-group">-->
      <!--<input type="text" class="form-control" placeholder="Search">-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->

    </div>
    <!-- /.navbar-collapse -->
  </nav>
  <!-- /.container-fluid -->
</div>

<!-- Alert messages start-->
<div class="alert alert-success my-alert" role="alert" *ngIf="msgObj.msgSuccess">{{msgObj.msg}}</div>
<div class="alert alert-danger my-alert" role="alert" *ngIf="msgObj.msgError">{{msgObj.msg}}</div>
<!-- Alert messages end-->

<!-- please wait modal start -->
<!-- <div #pleaseWaitModal class="modal fade wait-modal" id="pleaseWaitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
              <h3>Please Wait..!</h3>
        </div>
      </div>
  </div>
</div> -->
<!-- please wait modal end -->

<!--my navigation bar end-->


<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<!--footer start-->

<div class="container-fluid">
  <div class="row">
    <div class="up-strip text-center">
      <div class="footer-social-icons">
        <div>
          <a href="https://web.facebook.com/SIS-Tour-Operators-2057700554465474/?hc_ref=ARRxTabDlB7SKtlyOAsN45QJg9PpXwkjyvnAOfHbbjbyYTymKNIiienybPNbLQjOBYw"
            target="_blank">
            <span>
              <i class="fa fa-facebook"></i>
            </span>
          </a>
        </div>
        <div>
          <a href="https://plus.google.com/u/0/106638981153726355372" target="_blank">
            <span>
              <i class="fa fa-google-plus"></i>
            </span>
          </a>
        </div>
        <div>
          <a href="https://twitter.com/sistouroperator" target="_blank">
            <span>
              <i class="fa fa-twitter"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="footer-links">
        <a [routerLink]="['home']" class="text-uppercase">HOME |</a>
        <a [routerLink]="['home']" fragment="packages" class="text-uppercase">PACKAGES |</a>
        <a [routerLink]="['leisure']" class="text-uppercase">LEISURE |</a>
        <a [routerLink]="['about-lanka']" class="text-uppercase">SRI LANKA |</a>
        <a [routerLink]="['home']" fragment="testimonials" class="text-uppercase">TESTIMONIALS |</a>
        <a [routerLink]="['about-us']" class="text-uppercase">ABOUT US |</a>
        <a [routerLink]="['contacts']" class="text-uppercase">CONTACT US </a>
      </div>
    </div>

    <div class="bottom-strip text-right">
      <p>Copyright © 2018 Sis Tour Operators  <span> | </span>  Application designed & developed by A P E X IT</p>
    </div>

  </div>
  <ng4-loading-spinner> </ng4-loading-spinner>
</div>

<!--footer end-->