/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

/*.goog-te-banner-frame{*/
  /*display: none!important;*/
/*}*/

.goog-logo-link{
  display: none;
}

.goog-te-gadget{
  visibility: hidden;
}

.goog-te-gadget > * {
  visibility:visible;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.error-message {
  font-size: 10px;
  color: red;
}

